{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Welcome to NitroVPN</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'images2/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor2/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts2/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor2/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'vendor2/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor2/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css2/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css2/main.css' %}">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				{% if request.user.is_authenticated %}
					<div class="login100-pic js-tilt" data-tilt>
						<img src="{% static 'images2/img-01.png' %}" alt="IMG">
					</div>
					<div class="login100-form validate-form">
						<span class="login100-form-title">
							You already logged in please visit Home page
						</span>
					</div>
					<head>
						<meta http-equiv = "refresh" content = "3; url = {% url 'home' %}" />
					</head>
				{% else %}
					<div class="login100-pic js-tilt" data-tilt>
						<img src="{% static 'images2/img-01.png' %}" alt="IMG">
					</div>
						<form class="login100-form validate-form" method="POST">
							<span class="login100-form-title">
								Login
							</span>
							{% csrf_token %}
							<div id="div_id_username" class="control-group"> <label for="id_username" class="control-label requiredField">
								Username 
								<div class="controls"> 
									<input type="text" name="username" maxlength="50" class="textinput textInput" required="" id="id_username" style="background-color: beige;"> 
								</div> 
							</div>
							<div id="div_id_password" class="control-group"> <label for="id_password" class="control-label requiredField">
								Password
								<div class="controls"> 
									<input type="password" name="password" maxlength="220" class="textinput textInput" required="" id="id_password" style="background-color: beige;"> 
								</div> 
							</div>
							<div class="container-login100-form-btn">
								<button class="login100-form-btn" type="submit">
									Login
								</button>
							</div>

							<!-- div class="text-center p-t-12">
								<span class="txt1">
									Forgot
								</span>
								<a class="txt2" href="#">
									Username / Password?
								</a>
							</div -->

							<div class="text-center p-t-136">
								<a class="txt2" href="{% url 'register' %}">
									Create your Account
									<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
								</a>
							</div>
						</form>
				{% endif %}
			</div>
		</div>
	</div>
	
	

	
<!--===============================================================================================-->	
	<script src="{% static 'vendor2/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor2/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'vendor2/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor2/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor2/tilt/tilt.jquery.min.js' %}"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src="{% static 'js2/main.js' %}"></script>

</body>
</html>